.nav-custom-items {
    color: white;
}

.welcome {
    padding-right: 30px;
    font-weight: bold;
}

.search-bar {
    width: max-content;
}

.search-button {
    float: right;
    width: fit-content;
}


body {
    padding: 70px 0px 0px 0px;
    z-index: 0;
}