.container-fluid {
    height: 100vh;
}

.full-height {
    height: 100%;
}

.channels {
    height: 100%;
    background-color: #2c2c2c;
}

#channelsList {
    overflow: hidden;
}


.messages {
    height: 100%;
}

.cHeading {
    height: 10%;
    color: white;
}

.mHeading {
    height: 10%;
    text-align: center;
}

.chat-box {
    height: 60%;
}

.mssg {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    align-items: center;
}

.border {
    border: solid 2px white;
}

.chat-list {
    overflow-y: scroll;
    padding: 10px;
    box-shadow: 5px #ededed
    /* background-color: lightblue; */
}

.recv-mssg {
    width: 75%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sent-mssg {
    width: 75%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
}

.chat-item {
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 5px;
}