{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row full-height">
			<div class="col-12 col-sm-3 col-md-3 channels">
				<div class="row cHeading align-items-center">
					<div class="col-9">
						<h3 class="font-weight-bold">Channels</h3>
					</div>
					<div class="col-3">
						<button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#newChannel"><i class="fa fa-plus"></i></button>
					</div>
				</div>
				<hr style="background-color: white;">
				<div class="row">
					<div id="channelsList" class="btn-group-vertical btn-block" role="group" aria-label="Channels">
						{% for item in channels %}
							<button type="button" class="btn btn-primary"  onclick="showChats(this.innerHTML)">{{ item }}</button>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-9 col-md-7 offset-md-1 messages">
				<div class="row mHeading">
					<div class="col-12">
						<h3 class="font-weight-bolder">Messages</h3>
					</div>
				</div>
				<hr style="background-color: #2c2c2c;">
				<div class="row">
					<h3 id="channelname"> </h3>
				</div>
				<div class="row chat-box">
					<div id="chatList" class="col-12 full-height chat-list">
						<!-- Chat item -->
						<h3>Please select a channel to show chat.</h3>
					</div>
				</div>
				<form id="mssgForm" class='mssg'>
					<div class="form-group row">
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" name="message" id="message" placeholder="Enter your message">
						</div>
						<div class="col-12 col-sm-3">
							<button id="send" type="submit" class="btn btn-block btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="newChannel" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a channel</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="addChannel">
                        <div class="form-group row">
                            <label for="channelName" class="col-12 col-md-4 col-form-label pt-0">Channel Name</label>
                            <div class="col-12 col-md-8 mb-2">
                                <input type="text" class="form-control" id="channelName" name="channelName" placeholder="Enter channel name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-4 col-md-10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button id="createBtn" type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
	<script id="channelBtn" type="text/x-handlebars-template">
		<button type="button" class="btn btn-primary" onclick="showChats(this.innerHTML)">{% raw -%}{{ channelName }}{%- endraw %}</button>  
	</script>
	<script id="receivedMessage" type="text/x-handlebars-template">
		<div class="card recv-mssg">
			<div class="card-body">
				<h6 class="card-title">{% raw -%}{{ name }}{%- endraw %}</h6>
				<p class="card-text">{% raw -%}{{ mssg }}{%- endraw %}</p>
				<footer class="blockquote-footer">{% raw -%}{{ time }} | {{ date }}{%- endraw %}</footer>
			</div>
		</div>
	</script>
	<script id="sentMessage" type="text/x-handlebars-template">
		<div class="card sent-mssg">
			<div class="card-body">
				<h6 class="card-title">{% raw -%}{{ name }}{%- endraw %}</h6>
				<p class="card-text">{% raw -%}{{ mssg }}{%- endraw %}</p>
				<footer class="blockquote-footer">{% raw -%}{{ time }} | {{ date }}{%- endraw %}</footer>
			</div>
		</div>
	</script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
