{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand font-weight-bolder" href="{{ url_for('home') }}">Books</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse nav-custom-items" id="navbarSupportedContent">
                <a class="welcome ml-auto">{{ user_name }}</a>
                <form action="{{ url_for('logout') }}" class="form-inline my-2 my-lg-0">
                    <button type="submit" class="btn btn-primary font-weight-bold">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="{{ url_for('home') }}" method="POST">
            <div class="form-group row my-3">
                <div class="col-5 col-sm-5 offset-2">
                    <input type="text" class="form-control" name="searchQuery" id="searchQuery" placeholder="Search using book isbn | title | author | year">
                </div>
                <div class="col-3 col-sm-3 justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </form>
            
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>{{ table_caption }}</caption>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Isbn</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr class="click">
                                <th scope="row">{{ loop.index }}</th>
                                <td><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.isbn }}</a></td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.year }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
	
{% endblock %}
